 main {    
    overflow-x: hidden;
    margin-top: 6.2em;
}

header {
    align-items: center;
    position: fixed;
    top: 0;
    background-color: mediumpurple;
    z-index: 2;
    width: 100%;

}

header nav {
    flex-grow: 1;
}


header nav ul {
    max-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 500ms ease;
    transform: translateX(-6vw);
    background: white;
    color: black;
}

header nav li {
    flex-grow: 1;
    text-align: center;
    min-width: 1em;
}


header nav a {
    line-height: 2em;
    flex-direction: row;
}

nav ul li a {
    font-size: 1.5em;
    font-family: 'Recoleta Medium', 'Domine', serif;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li:hover {
    color:darkviolet;
}

/*search icon niet zichtbaar op kleine scherm*/
img[src="images/search.png"] {
    display: none;
    margin-right: auto;
    width: 2em;
    padding: 1em;
    margin: 0.5em;
}

/*hamburger menu*/

/*voor grote schermen*/
@media (min-width: 37.5em ) {
    header nav ul {
        display: flex;
        flex-direction: row;
        opacity: 1;
        background: none;
        color: white;
    }
    
    header {
        display: flex;
    }
    
    img[src="images/search.png"] {
        display: flex;
    }
    
    .menuknop {
        display: none; 
        opacity: 0;
        max-height: 0;
        max-width: 0;
    }
    

}

.menuknop {
    font-size: 1.4em;
    left: 0;
    padding: 10px;
    padding-bottom: 0px;
    margin-left: 0.5em;
    text-align: left;
    margin-top: -2.5em;
}

/*class for toggle*/

.toonMenu {
    max-height: 90em;
    opacity: 1;
    transform: translateX(0);
}


img {
    height: 100%;
    width: 100%;
}

 /* sections incl. image + buttons */

/*Milka home afbeelding + doe mee knop*/

/*Milka home afbeelding + doe mee knop*/
main > div:nth-of-type(1) > article {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka dark milk */
main > div:nth-of-type(2) > div > article:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka biscuits */
main > div:nth-of-type(2) > div > article:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/*Milka dripping */
main > article:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka & oreo*/
main > article:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka bubbles*/

main > div:nth-of-type(3) > article:nth-of-type(1)  {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka chocotabs*/

main > section:nth-of-type(1){
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

/*Milka geschiedenis */
main > section:nth-of-type(2){
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: lavenderblush;
}

/*de rest van de milka geschiedenis section*/

img[src="images/milka%20cow.png"] {
    display: flex;
    position: relative;
    width: 40em;
    height: auto;
    right: 12em;
    transform: translate(-10%, -10%);
}

img[src="images/milka%20history%20guy.png"] {
    display: flex;
    position: relative;
    right: 0em;
    width: 15em;
    height: auto;
    transform: translate(-30%, -10%);
    transform: rotate(-10deg);
}

img[src="images/vintage%20milka%20package.png"] {
    display: flex;
    width: 15em;
    height: auto;
    left: 16em;
    position: relative;
    transform: translate(-30%, -10%);
    right: 0;
    transform: rotate(10deg);
    margin-top: -10em;
}

img[src="images/milka%20nature.png"] {
   display: flex;
    position: relative;
    left: 3em;
    width: 15em;
    height: auto;
    left: 0;
    right: 0;
    transform: rotate(-15deg);
}

main > section:nth-of-type(2) > h2 {
    position: absolute;
    z-index: 1;
    padding: 1em;
    left: 0;
    right: 0;
    text-align: center;
}

main > section:nth-of-type(2) > p {
    position: absolute;
    z-index: 1;
    padding: 1em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    text-align: center;
}

@media (min-width: 62.5em ) {
    main > section:nth-of-type(2) > h2 {
        font-size: 2.5em;
         margin-left: auto;
         margin-right: auto;
        display: block;
    }
    
    main > section:nth-of-type(2) > p {
        margin-left: auto;
         margin-right: auto;
        display: block;
        text-align: center;
    }
    
    img[src="images/vintage%20milka%20package.png"] {
        width: 25em;
        left: 60em;
        margin-top: -20em;
    }
    
    img[src="images/milka%20nature.png"] {
        width: 25em;
        left: 40em;
        margin-top: -15em;
    }
    
    
}

/*--*/


 /* Images */
header > img[src="images/Milka%20logo%20wit.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    padding: 1em;
}

img[src="images/milka%20home.png"] {
    object-fit: cover;
    display: block;
    width: 210%;
    height: auto;
    position: relative;     
}

img[src="images/milka%20darkmilk.png"] {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    position: relative;  
} 

img[src="images/milka%20bescuits.png"] {
    object-fit: cover;
    display: block;
    width: 99%;
    height: auto;
    padding: 0;
    position: relative; 
}

img[src="images/milk%20splash.png"] {
    object-fit: cover;
    position: relative;
    display: block;
    width: 300%;
    height: 110%;
}

img[src="images/milka%20bubbles.jpg"] {
    object-fit: cover;
    position: relative;
    display: inline;
    width: 100%;
    height: 15em;
}


img[src="images/Milka%20max%20bar.png"] {
    object-fit: cover;
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background-color: white;  
}

/*Image hover*/
img[src="images/milka%20darkmilk.png"]:hover {
    transform: scale(1.5);
    transition: all 0.6s;
    max-width: inherit;
} 

img[src="images/milka%20bescuits.png"]:hover {
    transform: scale(1.5);
    transition: all 0.6s;
    z-index: -1;
} 

img[src="images/milk%20splash.png"]:hover {
    transform: scale(1.5);
    transition: all 0.6s;
    max-width: inherit;
    z-index: -1;
} 

img[src="images/milka%20and%20oreo.jpg"]:hover {
    transform: scale(1.5);
    transition: all 0.6s;

}

img[src="images/milka%20bubbles.jpg"]:hover {
    
} 

img[src="images/Milka%20max%20bar.png"]:hover  {
    animation-name: Imageflip;
    animation-duration: 3s;
    animation-timing-function: ease; 
   }



  @keyframes Imageflip {
        0% {
            transform: scale(0.1);
            transform: rotateY(30deg);
            opacity: 0;
        }

        60% {
            transform: scale(1.2);
            transform: rotateY(90deg);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            transform: rotateY(180deg);
            
        }
    }

 /* buttons */

button {
    background-color: white;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* ontdek meer button */
main > div:nth-of-type(2) > div > article:nth-of-type(2) > a {
    background-color: lightblue;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: lightblue;
    padding: 10px;
    font-size: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
}

main > div:nth-of-type(2) > div > article:nth-of-type(2) > a:hover {
    box-shadow: inset 0em -0.625em 1.238em -0.938em #3b2774;
    
}

/*doe mee knop */
main > div:nth-of-type(1) > article > a {
    position: absolute;
    top: 70%;
    left: 50%;
    color: #3b2774;
    transform: translate(-50%, -70%);
    background-color: white;
    border-radius: 3.750em;
    border-bottom-style: solid;
    border-color: white;
    padding: 0.625em;
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
}

main > div:nth-of-type(1) > article > a:hover {
    box-shadow: inset 0em -0.625em 1.238em -0.938em #3b2774;
}

/*Lees verder knop link*/

main > article:nth-of-type(1) > a , main > div:nth-of-type(3) > article:nth-of-type(1) > a {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 9em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-decoration: underline;
}

main > article:nth-of-type(1) > a:hover , main > div:nth-of-type(3) > article:nth-of-type(1) > a:hover{
    color: white;
}

/* Nieuwsbutton*/
main > article:nth-of-type(2) > a {
    background-color: white;
    border-radius: 3.750em;
    border-bottom-style: solid;
    border-color: white;
    padding: 0.625em;
    margin-top: 10em;
    text-align: center;
    font-size: 1em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 4em;
    font-family: 'Quicksand', sans-serif;
}

main > article:nth-of-type(2) > a:hover {
    box-shadow: inset 0em -0.625em 1.238em -0.938em #3b2774;
}

/*laatste ontdek meer button*/
main > section:nth-of-type(1) > a {
    background-color: lightblue;
    border-radius: 6em;
    border-color: white;
    padding: 0.625em;
    text-align: center;
    font-size: 1.2em;
    display: block;
    width: 8em;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Quicksand', sans-serif;
}

main > section:nth-of-type(1) > a:hover {
    box-shadow: inset 0em -0.625em 1.238em -0.938em #3b2774;
}

/*milka geschiedenis knop*/
main > section:nth-of-type(2) > a {
    margin-left: auto;
    margin-right: auto;
    background-color: #3b2774;
    border-radius: 3.750em;
    border-bottom-style: solid;
    border-color: #3b2774;
    color: white;
    left: 0;
    right: 0;
    padding: 1em;
    margin-top: 15em;
    text-align: center;
    font-size: 1em;
    position: absolute;
    display: block;
    width: 10em;
    z-index: 1;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

main > section:nth-of-type(2) > a:hover {
    box-shadow: inset 0em -0.625em 1.238em -0.938em black;
}



body {
    background-color: mediumpurple;
    background-size: cover;
    margin: auto;
}

h1 {
    color: white;
    font-family: 'Recoleta Medium', 'Domine', serif;
    padding: 0.938em 0.938em 0.938em 0.938em;
    font-size: 1.2em;
    text-align: center;
}



h4:nth-of-type(1) {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    font-family: 'Quicksand', sans-serif;
}

h3:nth-of-type(1) {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 4em;
    font-family: 'Recoleta Medium', 'Domine', serif;
}

h2:nth-of-type(1) {
    font-family: 'Recoleta Medium', 'Domine', serif;
    
}
    
p:nth-of-type(1) {
    font-family: 'Quicksand', sans-serif;
        
}

/*container for grid*/ 
.container1 {
    display: grid;
    grid-template-columns: 50% auto;
    position: relative;
    overflow: hidden;
}

/* fix mainly buttons zodat ze niet al teveel bewegen of verdwijnen*/

#stickinginplace {
    position: relative;
    overflow: hidden;

}

/*footer*/

footer {
    color: white;
    background: #ab8fe3;
    padding: 3em;
    font-family: 'Quicksand', sans-serif;
}

main > footer > ul > li:nth-of-type(1) {
    text-decoration: underline;
    text-align: center;
    max-height: auto;
    max-width: auto;
}

main > footer > img[src="images/Milka%20logo%20wit.png"] {
    display: block;
        width: 13em;
        height: 7em;
        margin: 1em;
    margin-left: auto;
    margin-right: auto;
    }

img[src="images/socials-removebg-preview.png"] {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    }

/*op mobiel alleen drie navigatie opties, inhoud verborgen*/

main > footer > ul > ul:nth-of-type(1) > li {
    display: none;
}


/*op desktop alle drie navigatie opties + subopties*/
@media (min-width: 77.5em) {
    footer {
        display: grid;
        grid-template-columns: 20em 20em 20em 20em;
    }

    main > footer > ul > li:nth-of-type(1) {
        text-decoration: underline;
        text-align: left;
    }

    main > footer > ul > ul:nth-of-type(1) > li {
        display: flex;
    }
    
    main > footer > img[src="images/Milka%20logo%20wit.png"] {
        width: 15em;
        height: 8em;
        margin: 1em;
    }
    
        img[src="images/socials-removebg-preview.png"]{
        grid-column: 2 /4;
    }
    

    /*breakpoints*/
/*large screens*/
    @media (min-width: 37.5em) {
        img[src="images/milk%20splash.png"] {
            height: 12.5em;

    
        }
            img[src="images/milka%20and%20oreo.jpg"] {
                height: 12.5em;
                object-fit: cover;

            }

        /*small screens*/
            @media (max-width: 18.75em) {
                img[src="images/milka%20and%20oreo.jpg"] {
                    height: 1em;
                    object-fit: cover;

                }